body {
	background-color: #ffcce6;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

ul { font-size: 32px; 
  font-family: 'Helvetica', 'Trebuchet MS', serif; 
  color:rgb(46,105,163);}

head { font-size: 32px; 
  font-family: 'Helvetica', 'Trebuchet MS', serif; 
  color:red;}


h1 {
	font-size: 32px; 
  font-family: 'Arial', 'Trebuchet MS', serif; 
  color:rgb(46,105,163);
}

h2 {
	font-size: 50px;
font-family: 'Helvetica', 'Trebuchet MS', serif; 
  color:rgb(46,105,163)
}


.hero {
  font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
  color: #ffffff;
	padding: 250px 0;
	margin: 30px;
  background-image: url("
	  
	  body {
padding: 0;
margin:0;
background-color: #110019;
background-repeat: no-repeat;
background-size: auto;
background-position: center center;
background-image: none;
}


